<link rel="stylesheet" href="/styleHeader.css">
<link rel="stylesheet" href="/styleItemProfile.css">


<body>
  <%include userHeader%>
  <div class="item-container">
    <div class="item-box">
      <img class = "image" src="<%=sneaker[0].image%>" alt="">
      <div class="text-box">
        <div class="text-box-header">
          <h1><%=sneaker[0].title%></h1>
          <h2>by <%=sneaker[0].brand%></h2>
        </div>
        <div class="text-box-left">
          <p>year: <%=sneaker[0].year%></p>
          <p>condition: <%=sneaker[0].condition%></p>
          <p><%=sneaker[0].public ? "public" : "private"%></p>

        </div>
        <div class="text-box-right">
          <p>size: <%=sneaker[0].size%></p>
          <p>color: <%=sneaker[0].color%></p>
          <p><%=sneaker[0].sale_status === "on-sale" ? "for sale" : "not for sale"%></p>

        </div>
        <div class="description">
          <p><%=sneaker[0].description%></p>
        </div>
        <div class="edit">
          <a href="">
            <p class="no-link">edit detials</p>
          </a>
        </div>
       

      </div>




    </div>

  </div>



  
</body>

