<link rel="stylesheet" href="/styleHeader.css">
<link rel="stylesheet" href="/styleUser.css">
<link rel="stylesheet" href="/itemsList2.css">

<body>
    <%include header%>
    
    <div class="container">
        <h1>Passion Portfolio Marketplace</h1>
        <div class="items-container">
          <% sneakers.forEach((sneaker) => { %> 
          <a href="/items/<%=sneaker.id%>" class="item">
              <div class="image">
                  <img id="shoe" src="<%=sneaker.image%>">
              </div>
  
              <div class="content">
                <div class="title"><%=sneaker.title%></div>
                <div class="sub">
                  <h3 class="brand">By <%=sneaker.brand%></h3>
                  <h3 class="year"><%=sneaker.year%></h3>
                </div>
                <div class="description"><p>
                    <%=sneaker.description%>
                </p></div>
                <% if (sneaker.sale_status === 'on-sale') { %>
                <div class="sale-price">
                  <h6>$<%=sneaker.listing_price%></h6>
                </div>
                <% } %>
              </div>
  
          </a>
  
  
        <% }) %>
        </div>
    </div>
     
    </div>